*{

	font-family: Arial;
	font-size: 30px;
	border-radius: 10px;
	padding: 0px;
	text-align: center;

}

body {

	padding: 10px;
	background-color: #444444;

}

hr{

	color: white;

}

.button:hover{

	background-color: darkred;
	cursor: pointer;

}

/*------------ GRID PRINCIPAL -------------------*/

#container{

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
	grid-template-rows: 15vh 8vh 60vh 10vh;

	grid-gap: 5px;

}

.grid-element{

	background-color: firebrick;
	padding: 10px;
	border: 1px solid white;
	color: white;

}

#header, #footer{

	grid-column: 1/7;

}

#main{

	grid-column: 1/4;

}

/*------------ HEADER -------------------*/

#header{

	display: flex;
	flex-direction: column;
	justify-content: center;

}

#header > h1{

	font-size: 60px;
	margin: 0px;

}

/*------------ NAV -------------------*/

.nav-but{

	display: flex;
	flex-direction: column;
	justify-content: center;	

}

/*------------ ASIDE -------------------*/

#aside{

	grid-column: 4/7;

	display:flex;

	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow: auto;
	scrollbar-width:none;


}

.pkm-icon{

	border: 1px solid white;
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 5px;
	cursor: pointer;

}

/*------------ MAIN -------------------*/

#main{

	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 2fr 2fr;
	grid-gap: 10px;
}

#main > *{

	border: 1px solid white;
	padding: 10px;

}

#sts-div > p {

	font-size: 25px;
	text-align: left;
	margin: 5px;

}

#sts-div > h3 {

	margin: 5px;

}

#misc-div{

	display: flex;
	justify-content: space-around;

}

#main-name{	

	grid-column: 2/4; 
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#img-div{

	padding: 20px;

}

#img-div,#desc-div{	grid-column: 1/3; }

#sts-div,#misc-div{	grid-column: 3/5; }

#img-div-img{	width: 300px;}

/*------------ Footer -------------------*/

#footer{

	display: flex;
	flex-direction: column;
	justify-content: center;

}